<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="au.com.ahbeard.sleepsense">

    <application
        android:name=".SleepSenseApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name">
        <activity
            android:name=".activities.InStoreHelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InStoreAppTheme">
        </activity>
        <activity
            android:name=".activities.InStoreNewOnBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InStoreAppTheme">
        </activity>
        <activity
            android:name=".activities.InStoreHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InStoreAppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>