<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="au.com.ahbeard.sleepsense">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".SleepSenseApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.OnBoardActivity" android:screenOrientation="userPortrait">
        </activity>
        <activity android:name=".activities.DashboardActivity" android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".activities.TestActivity"-->
            <!--android:label="Sleep Sense [T]" android:screenOrientation="userPortrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".activities.SleepTrackingActivity" android:screenOrientation="userPortrait">
        </activity>
    </application>

</manifest>