<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.ahbeard.sleepsense">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SleepSenseApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SleepScoreBreakdownActivity"
            android:screenOrientation="userPortrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d340877592487019d618eada69d27ba7f41dad0f" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d340877592487019d618eada69d27ba7f41dad0f" />

        <activity android:name=".activities.MattressSizeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConnectingPumpActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.ConnectingTrackerActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.HeightActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.WeightActivity"
            android:screenOrientation="userPortrait" />
        <activity android:name=".activities.GenderActivity"></activity>
    </application>

</manifest>